/* styles.css */
body {
  font-family: Arial, sans-serif;
}

.genero-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

img {
  width: 150px;
  height: 200px;
  margin: 10px;
}

h3 {
  text-align: left;
  align-content: center;
  margin: 10px;
}

.pelicula {
  display: inline-block;
  width: 150px;
  text-align: center;
  margin: 10px;
}

.pelicula h3 {
  font-size: 14px;
}